body {
  display: grid;
  place-items: center;
  background-image: var(--gradient-22);
}

.card-container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-fluid-4);
  margin: var(--size-fluid-4);
  max-width: 1440px;
}

.card {
  flex: 0 1 400px;
  box-shadow: var(--shadow-4);
  padding: var(--size-fluid-3);
  border-radius: var(--radius-4);
  background-color: var(--blue-1);
  display: grid;
  gap: var(--size-2);
}

.card__heading {
  color: var(--blue-6);
}

.card__content {
  display: grid;
  gap: var(--size-2);
}

.card__btn {
  background-color: var(--blue-6);
  color: white;
  width: max-content;
  padding: var(--size-2) var(--size-fluid-2);
  border-radius: var(--radius-4);
  margin-top: var(--size-fluid-1);
  box-shadow: var(--shadow-4);
  transition: all 250ms var(--ease-squish-3);
}

.card__btn:is(:hover, :focus) {
  text-decoration: none;
  box-shadow: none;
  transform: scale(0.95);
}
